<app-register (registerData)="receive($event)"></app-register>
<div class="col-sm-12">
	<table border="1" style="text-align: center">
		<thead>
			<tr>
				<th>User Name</th>
				<th>Mobile Number</th>
				<th>Email</th>
				<th>DOB</th>
				<th>Password</th>
				<th>Confirm Password</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{username1}}</td>
				<td>{{mobileno1}}</td>
				<td>{{email1}}</td>
				<td>{{date1}}</td>
				<td>{{psd1}}</td>
				<td>{{cpsd1}}</td>
			</tr>
		</tbody>
	</table>
</div>